<h1>Word Game</h1>
<h2>Your Score</h2>
<p>Your word:<%= @word %></p>
<p>Chosen from: <%= @letters %></p>
<p>Result: <%= @result %></p>
<p>Score: <%= @score %></p>

<%= link_to "New game", new_path %>
